.container {
    border-width: 1rem;
    border-color: black;
}

.name {
    color: #C6011f;
}

.description {
    color: black
}

.rounded {
    border-style: double;
    border-radius: 50% !important;
}

.statement {
    padding-top: 75px;
    color: #C6011f
}

