.test {
    text-align: center;
}

.brew-banner{
    margin-top: 80px;
    color: #fff;
}

.brewHeader {
    color: #C6011f;
    margin-top: 10px;
}

.brewCards {
    justify-content: center;
    text-align: center;
    width: 50rem;
}

.container-card {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.card-img-top {
    border-radius: 50%;
    border-style: double;
}
